[submodule "viggyblog/themes/pulp"]
	path = viggyblog/themes/pulp
	url = https://github.com/koirand/pulp.git
[submodule "viggyblog/themes/etch"]
	path = viggyblog/themes/etch
	url = https://github.com/LukasJoswiak/etch.git
