[submodule "viggyblog/themes/pulp"]
	path = viggyblog/themes/pulp
	url = https://github.com/koirand/pulp.git
[submodule "viggyblog/themes/etch"]
	path = viggyblog/themes/etch
	url = https://github.com/LukasJoswiak/etch.git
[submodule "viggyblog/public"]
	path = viggyblog/public
	url = https://github.com/vviggyy/vviggyy.github.io.git
	branch = main
