{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}
html {
    scrollbar-color: #6c6c6c #2e2e2e;
}

body {
    color: #211e1e;
    background: ##dfdcdc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header#banner a {
    color: #6454de;
}

header#banner a:hover {
    color: #c0074b;
    opacity: 100%;
    transition: 185ms;
    text-decoration: none;
}

header#banner nav ul li a {
    color: #5442db;
}

header#banner nav ul li a:hover {
    color: #c0074b;
    opacity: 100%;
    transition: 185ms;
    text-decoration: none;
}

main#content a {
    color: #5442db;
}

main#content a:hover {
    color: #c0074b;
    opacity: 100%;
    transition: 185ms;
    text-decoration: none;
}

main#content p {
    color: #211e1e;
}

main#content hr {
    background: #dfdcdc;
}

main#content #toc h4 {
    color: #211e1e;
}

main#content ul#posts small {
    color: #211e1e;
}

main#content ul#posts li a:hover {
    color: #c0074b;
    opacity: 100%;
    transition: 185ms;
    text-decoration: none;
}

main#content header#post-header div {
    color: #5442db;
}
{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
